In [53]:
file_path = r"D:\주성\documents\2025\Mg comma\clinical features.xlsx"

In [55]:
table1 = pd.read_excel(file_path, sheet_name='Table1')

In [56]:
table1

,Patient No.,Sex,Age,Premorbid mRS Score,STESS,NORSE,Etiology,Number of AED,Immunotherapy Medications,CIVAD Medications
0,1,F,51,0,4,No,Metabolic,13,S,MKPb
1,2,F,25,0,3,Yes,Autoimmune,15,SIRT,MK
2,3,F,79,5,6,No,Remote vascular disease,3,NaN,NaN
3,4,M,46,0,3,Yes,Autoimmune,4,SI,M
4,5,F,84,3,6,Yes,Autoimmune,12,SIR,M
5,6,M,71,0,6,Yes,Autoimmune,3,S,NaN
6,7,M,79,3,5,Yes,Cryptogenic,8,SI,NaN
7,8,F,40,0,0,No,Cryptogenic,11,NaN,M
8,9,M,21,0,3,Yes,Cryptogenic,9,S,MPbKPr
9,10,M,57,2,4,Yes,Cryptogenic,4,NaN,M
10,11,M,77,2,4,No,Cryptogenic,5,NaN,NaN
11,12,F,81,5,6,No,Infectious encephalitis,6,NaN,NaN
12,13,F,66,1,6,Yes,Autoimmune,14,SIR,MKPr
13,14,M,60,1,0,No,Remote vascular disease,11,S,MK
14,15,F,37,3,2,No,Metabolic,5,NaN,M
15,16,M,62,0,1,Yes,tumor,9,SIR,MKPb
16,17,F,88,4,6,No,Acute vascular disease,4,NaN,NaN
17,18,F,74,4,6,Yes,Cryptogenic,3,S,NaN
18,19,M,53,0,1,Yes,Autoimmune,4,SIR,MPrPb
19,20,M,23,1,3,No,Metabolic,8,NaN,M

In [51]:
df['CIVAD Medications'].str.contains('Pr').sum()

3

In [57]:
table2 = pd.read_excel(file_path, sheet_name='Table2')

In [58]:
table2

,Patient No.,Mg Protocol Type,Mg Starting Date,Mg Infusion Day,Loading Mg,Maintenance Mg
0,1,2,10,4,4.0,2.000000
1,2,2,61,9,4.0,2.000000
2,3,1,2,1,4.0,0.666667
3,4,1,8,0,4.0,2.000000
4,5,1,1,1,4.0,0.666667
5,6,1,2,1,4.0,0.666667
6,7,2,34,2,3.5,2.000000
7,8,2,17,5,2.0,2.000000
8,9,1,1,1,4.0,0.666667
9,10,1,1,1,4.0,0.666667
10,11,1,2,1,4.0,0.666667
11,12,1,6,1,4.0,0.666667
12,13,2,6,1,4.0,2.000000
13,14,2,33,15,4.0,2.000000
14,15,1,1,1,4.0,0.666667
15,16,1,2,1,4.0,0.666667
16,17,1,1,1,4.0,0.666667
17,18,1,3,1,4.0,0.666667
18,19,1,9,1,4.0,0.666667
19,20,1,6,1,4.0,0.666667

In [65]:
prot1 = table2.loc[table2["Mg Protocol Type"]==1].iloc[:, 2:]
prot2 = table2.loc[table2["Mg Protocol Type"]==2].iloc[:, 2:]

In [69]:
import scipy.stats as stats

In [78]:
result = {}
for column in prot1.columns:
    stat, p = stats.mannwhitneyu(prot1[column], prot2[column])
    result[column] = {
        'statistics': stat,
        'p-value': p
    }

In [87]:
table2_1 = pd.DataFrame(result).T

In [88]:
table2_1

                  statistics   p-value
Mg Starting Date         3.0  0.001296
Mg Infusion Day          6.5  0.000372
Loading Mg              56.0  0.032581
Maintenance Mg           3.0  0.000124

In [86]:
A = []
B = []
for column in prot1.columns:
    A.append(prot1[column].median())
    B.append(prot2[column].median())
print(A, B)

[np.float64(2.0), np.float64(1.0), np.float64(4.0), np.float64(0.6666666666666666)] [np.float64(25.0), np.float64(4.5), np.float64(4.0), np.float64(2.0)]

In [89]:
table2_1["A (median)"] = A
table2_1["B (median)"] = B

In [90]:
table2_1

                  statistics   p-value  A (median)  B (median)
Mg Starting Date         3.0  0.001296    2.000000        25.0
Mg Infusion Day          6.5  0.000372    1.000000         4.5
Loading Mg              56.0  0.032581    4.000000         4.0
Maintenance Mg           3.0  0.000124    0.666667         2.0

In [92]:
table2_1 = table2_1[['A (median)', 'B (median)', 'statistics', 'p-value']]

In [94]:
table2_1

                  A (median)  B (median)  statistics   p-value
Mg Starting Date    2.000000        25.0         3.0  0.001296
Mg Infusion Day     1.000000         4.5         6.5  0.000372
Loading Mg          4.000000         4.0        56.0  0.032581
Maintenance Mg      0.666667         2.0         3.0  0.000124